body {
  background-color: black;
}

h1 {
  color: aliceblue;
}

.ball {
  margin: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100px;
  height: 100px;
  
  font-size: 22px;
  font-weight: 600;

  background-color: green;
  border-radius: 50%;
}