* {
  box-sizing: content-box;
}

body {
  background-color: black;
  height: 100%;
}

h1 {
  color: aliceblue;
}

.ball {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  font-size: 22px;
  font-weight: 600;

  background-color: green;
  border-radius: 50%;

  transition: 1s;
}

.ball-2 {
  background-color: pink;
}
.ball-3 {
  background-color: blue;
}
.ball-4 {
  background-color: red;
}
.ball-5 {
  background-color: yellow;
}
.ball-6 {
  background-color: orange;
}
